<div class="w-2/3 rounded border-2 p-10 mx-auto my-10">
  <div class="space-y-4">
    <h1 class="text-3xl text-center mb-8">Team Generator</h1>
    <ul>
      <li>Laith Harb</li>
      <li>Vincent Gatho</li>
    
     
    </ul>
    <div class="space-y-2">
      <input type="text" placeholder="Name" class="border-2 p-2 mr-2 rounded">
      <button class="pointer bg-blue-500 text-white p-2 border-blue-600 border-2 rounded hover:opacity-80">Add</button>
      <input type="number" min="1" placeholder="# of teams" class="border-2 p-2 mr-2 rounded">
      <button class="pointer bg-green-500 text-white p-2 border-green-600 border-2 rounded hover:opacity-80">Generate</button>
    </div>
  </div>
</div>